*.iml
.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
/.idea/

#Android generated
bin
gen
out
lint.xml
project.properties
.apk

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
library/facebook/*.iml
*.ipr
*.iws
classes
app/out
gen-external-apklibs

#Gradle
build
gradle.properties

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
proguard-project.txt
